deploy.py
destinations.py

knowledge/
memory/

memo.txt

dist/
build/
.pypirc
uploads/
sample_dataset/
chroma.sqlite3
*egg-info/

__pycache__/
.ruff_cache/
.pytest_cache/

.DS_Store
.vscode

.env
.venv/
