deploy.py
destinations.py

train.py

_memo
_idea.py



dist/
lib/
build/
.pypirc
uploads/
sample_dataset/
chroma.sqlite3
*egg-info/
test/
db/
rc-tests/*
temp/*
.vscode/*
assets/*
memo.txt
site/
_logs/

__pycache__
.ruff_cache/
.pytest_cache/

.DS_Store
.vscode

.env
.venv/
