site_name: Docs - versionhq
site_author: Version IO Sdn. Bhd.
site_description: A Python framework for multi-agent systems that handle complex task automation.
site_url: https://docs.versi0n.io
repo_url: https://github.com/versionhq/multi-agent-system/
repo_name: multi-agent-system
edit_uri: edit/main/docs/
copyright: Copyright &copy; 2024-2025 Version IO Sdn. Bhd.
markdown_extensions:
  - abbr
  - admonition
  - pymdownx.details
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  # - pymdownx.emoji:
  #     emoji_generator: !!python/name:material.extensions.emoji.to_svg
  #     emoji_index: !!python/name:material.extensions.emoji.twemoji
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets:
      auto_append:
        - includes/mkdocs.md
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          # format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
      combine_header_slug: true
      # slugify: !!python/object/apply:pymdownx.slugs.slugify
      #   kwds:
      #     case: lower
  - pymdownx.tilde
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true
theme:
  name: material
  language: en
  favicon: _logos/favicon.ico
  # logo: _logos/logo192.png
  font:
    code: Roboto Mono
  icon:
    repo: fontawesome/brands/github
    edit: material/pencil
    view: material/eye
    admonition:
      note: octicons/light-bulb-16
      abstract: octicons/checklist-16
      info: octicons/info-16
      tip: octicons/squirrel-16
      success: octicons/check-16
      question: octicons/question-16
      warning: octicons/alert-16
      failure: octicons/x-circle-16
      danger: octicons/zap-16
      bug: octicons/bug-16
      example: octicons/beaker-16
      quote: octicons/quote-16
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: black
      accent: teal
      toggle:
        icon: material/brightness-4
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: teal
      toggle:
        icon: material/brightness-7
        name: Switch to light mode
  features:
    - announce.dismiss
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    - content.code.select
    - content.tabs.link
    - content.tooltips
    - header.autohide
    - navigation.footer
    - navigation.indexes
    - search.suggest
    - navigation.instant
    - navigation.instant.progress
    - navigation.instant.prefetch
    - navigation.tracking
    - navigation.path
    - navigation.top
    - toc.follow
    - toc.integrate
    - search.highlight
    - search.share
nav:
  - Home: '/'
  - Quick Start: 'quickstart.md'
  - Core Components:
    - Agent: 'core/agent.md'
    - Tool: 'core/tool.md'
  #   - Task: 'core/task.md'
  #   - Compoio Tools: 'core/composio-tool.md'
  # - How to Guides:
  #   - Form agent networks: 'guides/form-agent-network.md'
  #   - Create custom tools: 'guides/create-custom-tool.md'
  #   - Customize Agent: 'guides/customize-agent.md'
  #   - Connect to any LLM: 'guides/connect-to-any-llm.md'
  - Examples:
    - Playground: https://mkversi0n.io
    - Experiment: https://github.com/versionHQ/exp-agent-performance
  - Change Log: https://github.com/versionHQ/multi-agent-system/releases

extra_css:
  - stylesheets/main.css

plugins:
  # - social
  - search

extra:
  analytics:
    provider: google
    property: G-E19K228ENL
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/versionHQ/multi-agent-system
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/versionhq/?viewAsMember=true
