[build-system]
requires = ["setuptools", "setuptools-scm"]
build-backend = "setuptools.build_meta"

[tool.setuptools]
package-dir = {"" = "src"}

[tool.setuptools.dynamic]
version = {attr = "versionhq.__version__"}

[tool.setuptools.packages.find]
where = ["src"]
include = ["*"]
exclude = ["test*", "__pycache__"]

[project]
name = "versionhq"
version = "1.1.9.5"
authors = [{ name = "Kuriko Iwai", email = "kuriko@versi0n.io" }]
description = "LLM orchestration frameworks for model-agnostic AI agents that handle complex outbound workflows"
readme = "README.md"
requires-python = ">=3.12"
license = {file = "LICENSE"}
keywords = ["orchestration framework", "orchestration", "ai agent", "multi-agent system", "RAG", "agent"]
dependencies = [
  "regex",
  "requests>=2.32.3",
  "pydantic",
  "werkzeug>=3.1.3",
  "typing",
  "json-repair>=0.31.0",
  "litellm>=1.55.8",
  "openai>=1.57.0",
  "composio-openai>=0.6.9",
  "composio>=0.1.0",
  "setuptools>=75.6.0",
  "wheel>=0.45.1",
  "python-dotenv>=1.0.0",
  "appdirs>=1.4.4",
  "langchain>=0.3.14",
  "langchain-openai>=0.2.14",
  "composio-langchain>=0.6.12"
]
classifiers = [
  "Programming Language :: Python",
  "License :: OSI Approved :: MIT License",
  "Operating System :: OS Independent",
  "Development Status :: 3 - Alpha",
  "Intended Audience :: Developers",
  "Topic :: Software Development :: Build Tools",
]

[project.urls]
Homepage = "https://versi0n.io"
Repository = "https://github.com/versionHQ/multi-agent-system"
Issues = "https://github.com/versionHQ/multi-agent-system/issues"

[tool.uv]
dev-dependencies = [
  "mypy>=1.10.0",
  "pre-commit>=4.0.1",
  "pytest>=8.0.0",
  "pytest-vcr>=1.0.2",
  "black",
  "bandit",
  "twine",
  "pytest>=8.3.4",
]

[tool.uv.workspace]
members = ["krik8235"]

[tool.mypy]
ignore_missing_imports = true

[tool.bandit]
exclude_dirs = [""]


[tool.pytest.ini_options]
filterwarnings = "ignore"
minversion = "8.0"
addopts = "-v -ra -q"
log_cli = true
log_cli_level = "INFO"
