name: Run Tests

on: [pull_request, push]

permissions:
  contents: write

env:
  DEFAULT_MODEL_NAME:  ${{ secrets.DEFAULT_MODEL_NAME }}
  DEFAULT_MODEL_PROVIDER_NAME:  ${{ secrets.DEFAULT_MODEL_PROVIDER_NAME }}
  LITELLM_API_KEY: ${{ secrets.LITELLM_API_KEY }}
  OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
  GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
  ANTHROPIC_API_KEY: ${{ secrets.ANTHROPIC_API_KEY }}
  OPENROUTER_API_KEY: ${{ secrets.OPENROUTER_API_KEY }}
  COMPOSIO_API_KEY: ${{ secrets.COMPOSIO_API_KEY }}
  DEFAULT_REDIRECT_URL:  ${{ secrets.DEFAULT_REDIRECT_URL }}
  DEFAULT_USER_ID:  ${{ secrets.DEFAULT_USER_ID }}
  MEM0_API_KEY: ${{ secrets.MEM0_API_KEY }}
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  AWS_REGION_NAME: ${{ secrets.AWS_REGION_NAME }}

jobs:
  run_test:
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          version: "0.5.11"

      - name: Set up the project
        run: |
          uv venv
          source .venv/bin/activate
          uv lock --upgrade
          uv sync --all-extras --no-extra pygraphviz

      - name: Run tests
        run: uv run pytest tests -vv --cache-clear
