name: Run Tests

on: [pull_request, push]

permissions:
  contents: write

env:
  LITELLM_API_KEY: ${{ secrets.LITELLM_API_KEY }}
  OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
  DEFAULT_REDIRECT_URL:  ${{ secrets.DEFAULT_REDIRECT_URL }}
  DEFAULT_USER_ID:  ${{ secrets.DEFAULT_USER_ID }}
  COMPOSIO_API_KEY: ${{ secrets.COMPOSIO_API_KEY }}

jobs:
  run_test:
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          version: "0.5.11"

      - name: Set up the project
        run: |
          uv venv --python 3.13.1
          source .venv/bin/activate
          uv pip install --upgrade pip pytest
          uv pip install -r requirements.txt

      - name: Run tests
        run: uv run pytest tests -vv --cache-clear
