name: Run Tests

on: [pull_request, push]

permissions:
  contents: write

env:
  DEFAULT_MODEL_NAME:  ${{ secrets.DEFAULT_MODEL_NAME }}
  DEFAULT_MODEL_PROVIDER_NAME:  ${{ secrets.DEFAULT_MODEL_PROVIDER_NAME }}
  LITELLM_API_KEY: ${{ secrets.LITELLM_API_KEY }}
  OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
  GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
  ANTHROPIC_API_KEY: ${{ secrets.ANTHROPIC_API_KEY }}
  OPENROUTER_API_KEY: ${{ secrets.OPENROUTER_API_KEY }}
  COMPOSIO_API_KEY: ${{ secrets.COMPOSIO_API_KEY }}
  DEFAULT_REDIRECT_URL:  ${{ secrets.DEFAULT_REDIRECT_URL }}
  DEFAULT_USER_ID:  ${{ secrets.DEFAULT_USER_ID }}
  MEM0_API_KEY: ${{ secrets.MEM0_API_KEY }}
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  AWS_REGION_NAME: ${{ secrets.AWS_REGION_NAME }}
  # PYO3_USE_ABI3_FORWARD_COMPATIBILITY: ${{ secrets.PYO3_USE_ABI3_FORWARD_COMPATIBILITY }}

jobs:
  run_test:
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - uses: actions/setup-python@v4
        with:
          python-version: "3.13"

      - name: Env set up
        run: |
          echo "VIRTUAL_ENV=${Python_ROOT_DIR}" >> $GITHUB_ENV
          pip install --upgrade pip pytest
          pip install uv
          uv venv
          source .venv/bin/activate
          uv pip install --upgrade pip pytest
          uv lock --upgrade
          uv sync --all-extras --no-extra pygraphviz

      - name: Pytest
        run: uv run pytest tests -vv --cache-clear
